body{background-color: blueviolet;
font-family: Arial, Helvetica, sans-serif;}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}
.cartão {
    margin: 1rem 1rem 1rem;
    background-color: black;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}
.cartão_conteudo{
    text-align: center;
    background-color: blue;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartão_conteudo h3{
 background-color: tomato;
 text-align: left;
 padding: 0,5rem;
 position: absolute;
 margin: 0,6rem;
 border-radius: 0,6rem;
 font-size: 1vw;
 backface-visibility: hidden;
}
.cartão_conteudo p{
margin-top: 1rem;
padding: 2rem;
margin-top: 4rem;
}
.cartão_conteudo_pergunta p{
color: black;
font-weight: 500;
}
.cartão_conteudo_resposta p{
color: brown;
font-weight: 700;
}
.cartao:active .cartão_conteudo{
transform: rotateY(180deg);
}
.cartão_conteudo_pergunta, .cartão_conteudo_resposta{
backface-visibility: hidden;
position: absolute;
height: 100%;
width: 100%;
}
.cartão_conteudo_resposta{
transform:rotateY('180deg') ;}
footer{ background-attachment: black;
color: white;
position: fixed;
bottom: 0;
width: 100%;
height: 2rem;
}
footer p{text-align: center;
font-size: 0,6rem;
margin-top: 0,5rem;
}




